html {
    box-sizing: border-box;
}

.header {
    padding: 30px 40px;
    background-color: rgb(66, 66, 66);
    color:aliceblue;
    font-size: 60px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.ult-con {
    display: flex;
    gap: 10px;
    flex: 1;
    background-color: rgb(66, 66, 66);
    /* height: 100%; */
}

.main-todo {
    flex: 3;
    background-color: aliceblue;
}

.sidebar {
    background-color: aliceblue;
    flex: 0.7;
}

/* time sort buttons  */

.time-sort {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
}

.time-sort > div {
    text-align: center;
    /* width: 100%; */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px rgb(66, 66, 66) solid;
}

.time-sort > div:hover {
    transition: 100ms;
    cursor: pointer;
}

.done:hover {
    color: rgb(0, 81, 255);
    border: 3px rgb(0, 81, 255) solid;
}

.done.highlighted {
    background-color: rgb(0, 81, 255);
    color: white;
}
.overdue:hover {
    color: red;
    border: 3px red solid;
}

.all:hover, .this-week:hover {
    border: 3px rgb(83, 60, 60) solid;
    color: rgb(83, 60, 60);
}

.highlighted {
    background-color: black;
    color: aliceblue;
}
/* projects container styling  */




.projects-header {
    background-color: rgb(66, 66, 66);
    color: aliceblue;
    display:flex;
    font-size: 26px;
    padding: 10px 15px;
}

.projects-list-title {
    flex:1;
}

.add-project-icon {
    flex: 0 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color:rgb(66, 66, 66);
    width: 30px;
    /* height: 30px; */
    border:rgb(155, 141, 141) 2px solid;
}

.add-project-icon:hover {
    cursor: pointer;
    background-color: rgb(217, 237, 255);
}


.projects-list {
    padding: 10px;
}

.projects-list > div {
    display: flex;
    gap: 5px;

}

.project-button {
    text-align: center;
    /* width: 100%; */
    padding: 10px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border: 3px rgb(66, 66, 66) solid;

}

.project-edit-button, .project-delete-button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px rgb(66, 66, 66) solid;
}

.project-edit-button:hover {
    color:rgb(0, 81, 255)
}

.project-delete-button:hover {
    color:rgb(163, 0, 0)
}

.projects-list > div > div {
    cursor: pointer;

}

/* table styling */

/* table header */

.table-header {
    background-color: rgb(117, 117, 117);
    display: flex;
    padding: 10px 0px 10px 0px;
}

.checked-placeholder, .checked-button-div {
    flex: 0.3;
}

.title-h, .title-content {
    flex: 1;
}

.desc-h, .desc-content {
    flex: 3;
}

.due-date, .due-date-content {
    flex: 1;
    border-right: 0px;
}

.buttons-placeholder, .buttons-content {
    flex: 0.7;
}

.table-header > div {
    color: aliceblue;
    font-size: 1.2rem;
}

.title-h, .desc-h, .due-date, .due-date-content, .desc-content,.title-content {
    padding-left: 10px;
    border-right: 1px rgb(196, 194, 194) solid;
}

.buttons-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-task {
    text-align: center;
    font-size: 26px;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
}

/* test row of table  */

.checked-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-button {
    border-radius: 50%;
    border: 1px solid black;
    width: 10px;
    height: 10px;
}

.check-button:hover {
    background-color: rgba(255, 68, 68, 0.623);
}

.task-row {
    display: flex;
    padding: 10px 0px 10px 0px;
}

.buttons-flex {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.buttons-flex > div {
    cursor: pointer;
}

.show-info:hover {
    color: blue;
}

.delete-button:hover {
    color: rgb(163, 0, 0);
}

.edit-button:hover {
    font-weight: bold;
}

/* Modal styling  */

.modal-bg {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window {
    width: max(20%,300px);
    padding: 15px 20px;
    border:rgb(66, 66, 66) solid 3px;
    margin: 10% auto;
    background-color: aliceblue;
}

.modal-window label, .modal-window input {
    display: block;

}

.modal-window label {
    margin-top: 20px;
}

.modal-window input {
    margin-top: 10px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

input[type="text"]:invalid {
    border-color: red;
}

.modal-window select {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}


input[type="date"] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
}

label[for='title'] {
    margin-top: 5px;
}

.modal-window .add-task-form button {
    display: block;
    background-color: aliceblue;
    border:rgb(66, 66, 66) solid 2px;
    padding: 3px 5px;
    margin-top: 10px;
}

.modal-window textarea {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5px;
    border-color: grey;
}

/* project edit and delete buttons styling  */

.button-modal-project-wrapper {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 5px;
    padding-top: 10px;
    justify-content: flex-end;
}

.cancel-button-modal-project {
    flex: 0;
    padding: 3px 5px;
    border:rgb(66, 66, 66) solid 2px;
    background-color: white;
}

.delete-button-modal-project {
    flex: 0;
    padding: 3px 5px;
    background-color: rgb(165, 29, 29);
    color: white;
    font-weight: bold;
    border:rgb(66, 66, 66) 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: auto; */
}

.button-modal-project-wrapper > div:hover {
    cursor: pointer;
}

/* for the project button  */

.highlighted-project {
    background-color: black;
    color:aliceblue
}

/* for the edit project modal window  */

.modal-window label[for="project_name"] {
    margin-top: 4px;

}

.button-wrapper-edit-project-modal {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;
}

.project-edit-cancel-button-modal, .modal-window form .submit-button-edit-project-modal {
    padding: 3px 5px;
    /* flex: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-edit-cancel-button-modal {
    background-color: aliceblue;
    border:rgb(66, 66, 66) 3px solid;

}

.submit-button-edit-project-modal {
    background-color: rgb(161, 10, 10);
    color: aliceblue;
    /* border: aliceblue 3px solid; */
}

.project-edit-cancel-button-modal:hover, .submit-button-edit-project-modal:hover {
    cursor: pointer;
}

/* create new project modal styling  */

.create-new-project-button-wrapper {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.create-new-project-name-button {
    background-color: aliceblue;
    color:rgb(66, 66, 66);
    padding: 3px 5px;
    border:rgb(66, 66, 66) 2px solid;
}

.create-new-project-name-button:hover {
    cursor: pointer;
}

.modal-window label[for="new_project_name"] {
    margin-top: 4px;
}

.modal-window #new_project_name {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 5px;

    
}

.modal-window #new_project_name:invalid {
    border-color: red;
}

.modal-window #new_project_name:valid {
    border-color: rgb(0, 185, 0);
}

.projects-list > div {
    margin-top: 7px;
}


/* modal button  */

.modal-window > form > button {
    cursor: pointer;
}


.task-row .check-button.doneC {
    background-color: lightgreen !important;
    color:rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.task-row .check-button.doneC:hover {
    cursor: pointer !important;
}

/* :root {
    font-family: Arial, Helvetica, sans-serif;
} */
